
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Content/Pages/Appointment.js"></script>
<input type="hidden" id="hdnId" />
<lable>Enter Name</lable>
<br />
<input type="text" id="txtName" placeholder="Enter Name" class="form-control" />
<br />
<lable>Enter Email</lable>
<br />
<input type="text" id="txtEmail" placeholder="Enter Email" class="form-control" />
<br />
<label>Select City</label>
<br />
<br />
<select id="ddlCity">
    <option>
        Select
    </option>
    <option>
        Wardha
    </option>
    <option>
        Nagpur
    </option>
    <option>
        Pune
    </option>
    <option>
        Mumbai
    </option>
</select>
<br />
<br />
<label>Enter Mobile</label>
<br />
<input type="text" id="txtMobile" placeholder="Enter Mobile" class="form-control" />
<br />
<label>Enter Appointment Date</label>
<br />
<input type="date" id="txtAppointment" placeholder="Enter Appointment Date" class="form-control" />
<br />
<br />
<label>Select Gender</label>
<select id="ddlGender">
    <option>
        Select
    </option>
    <option>
        Male
    </option>
    <option>
        Female
    </option>
    <option>
        Other
    </option>

</select>
<br />
<br />
<label>Enter Message</label>
<br />
<input type="text" id="txtMessage" placeholder="Enter Message" class="form-control" />
<br />
<label>Enter Update Date</label>
<br />
<input type="date" id="txtUpdateDate" placeholder="Enter Update Date" class="form-control" />
<br />
<label>Enter Created By</label>
<br />
<input type="number" id="txtCreatedBy" placeholder="Enter Created By" class="form-control" />
<br />
<label>Enter Updated By</label>
<br />

<input type="number" id="txtUpdatedBy" placeholder="Enter Updated By" class="form-control" />
<br />
<label>Enter Create Date</label>
<br />

<input type="date" id="txtCreateDate" placeholder="Enter Create Date" class="form-control" />
<br />


<input type="button" value="Submit" class="form-control"  onclick="saveappointment()" />

<br />
<div>
    <table id="tblAppoinment" border="1" class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>City</th>
                <th>MobileNo</th>
                <th>AppointmentDate</th>
                <th>Gender</th>
                <th>Message</th>
                <th>UpdateDate</th>
                <th>CreateDate</th>
                <th>CreatedBy</th>
                <th>UpdatedBy</th>


            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
